/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para la página de personajes */
#personajes {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.personaje {
    width: 45%; /* Ancho de cada elemento para distribuir en dos columnas */
    margin-bottom: 20px;
    text-align: right; /* Alineación a la derecha */
}

.personaje img {
    width: 200px; /* Tamaño fijo para todas las imágenes */
    height: 200px; /* Tamaño fijo para todas las imágenes */
    object-fit: cover; /* Escalar la imagen manteniendo las proporciones */
    border-radius: 50%;
    margin-bottom: 10px;
}

.personaje h3 {
    color: #333;
    font-size: 20px;
}

.personaje p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}


